* {
  margin: 0;
  padding: 0;
}
//testing the repo
.App {
  text-align: center;
  height: 100vh;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  font-family: 'Poppins', sans-serif;
}
.custom-style {
  font-family: 'Poppins', sans-serif;
}


.wrapper {
  margin: 20px;
}

header {
  margin-bottom: 20px; 
}

h1 {
  margin-bottom: 20px; 
}

img {
  max-height: 400px; /* Control max height of the image */
  object-fit: cover; /* Ensure the image covers its container */
  width: 100%; /* Make sure the image is responsive */
}



/* .container {
  text-align: center;
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 700px;
  width: 100%;
} */



h1 {
  margin-top: 50px;
  font-size: 1.8rem;
  color: #333;
}

p {
  color: #666;
  font-size: 1rem;
  margin: 1rem 0;
}

/* HomePage.css */

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  width: 100%;
  padding: 1rem;
  background-color: #f8f9fa; /* Bootstrap light background color */
}

.container-content {
  margin-top: 5rem; 
  padding-top: 5rem; 
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1050;
}



.modal-content {
  background-color: #fff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 80%;
  max-width: 400px;
}

.modal h2 {
  margin-top: 0;
  color: #333;
  font-size: 1.5rem;
}

.modal p {
  color: #666;
  font-size: 1rem;
  margin: 1rem 0;
}


.modal-actions {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-top: 1.5rem;
}

.modal-actions button {
  padding: 0.8rem 1.2rem;
  font-size: 0.9rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.modal-actions .continue-btn {
  background-color: #007bff;
  color: #fff;
}

.modal-actions .continue-btn:hover {
  background-color: #0056b3;
}

.modal-actions .cancel-btn {
  background-color: #e0e0e0;
  color: #333;
}

.modal-actions .cancel-btn:hover {
  background-color: #c7c7c7;
}





/* Styling the Submit button */
button {
  margin-top: 1.5rem;
  font-size: 1.1rem;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button:enabled {
  background-color: #007bff;
  cursor: pointer;
}

button:enabled:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

button:disabled {
  background-color: grey;
  cursor: not-allowed;
}

button:focus {
  outline: none;
  box-shadow: 0px 0px 8px rgba(0, 123, 255, 0.6);
}


.timer-container {
  display: flex;
   margin-top: 14px;
  justify-content: flex-end;
  position: fixed;
  z-index: 10; 
}
.clock {
  position: fixed;
  margin-left: 800px;
   top:0;
    margin-right: 20px; 
   right:0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(270deg, #051817, #0e3839);
  height: 60px;
  width: 250px;
  color: #06f1f6;
  text-shadow: 1px 1px 7px;
  border-radius: 15px;
  border: 2px solid silver;
  box-shadow: 0 0 1px 5px;
  transition: border-color 0.5s ease;
  position:fixed;
  z-index: 10;
}

@keyframes pulse {
  0% {
    border-color: red;
  }
  50% {
    border-color: transparent;
  }
  100% {
    border-color: red;
  }
}

.clock.pulse {
  animation: pulse 2s ease-in-out infinite; 
}


.clock section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.clock section p {
  font-size: 4rem;
}
.clock section small {
  color: silver;
  text-shadow: none;
}






/* Add this to your CSS file */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; 
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 300px; 
}

.modal-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}


.question-component {
  margin-top: 0;
  top: 0; /* Remove or adjust margin */
}

.question-field {
  width: 100%;
  top: 0;
  padding: 25px;
  background-color: white;
  border-radius: 12px;
  border: 1px solid #ccc;

  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  text-align: left;
  font-size: 18px;
  color: linear-gradient(270deg, #051817, #0e3839);
}

.essay-form {
  margin-top: 10px; /* Control spacing here */
    width: 100%; 
   height: 50%;
   margin:0;
 color: linear-gradient(270deg, #051817, #0e3839);
}
.info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  width: 90%;
  margin: 10px auto; /* Center align the container */
}

.info-item {
  font-size: 16px;
  color: #333;
  margin: 0;
}
.essay {
  resize: none; /* Prevent textarea resizing */
  border-radius: 5px;
  height: 400px; /* Adjust this value as needed */
  width: 80%; /* Optional: Make it full width */
/* Optional: Disable resizing */
 /* Rounded corners for the textarea */
}

.info-container {
  font-size: 14px; /* Smaller font size for info texts */
}


/* EssayForm.css */
/* 
.essay {
  width: 99%; 
  height: 300px; 
  margin:0;
  margin-bottom: 20px;
 
  border: 1px solid #ccc; 
  border-radius: 10px; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  font-size: 16px;
  font-family: Arial, sans-serif; 
  resize: none; 
  transition: border-color 0.3s, box-shadow 0.3s; 
} */

/* Focus effect */
.essay:focus {

  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Add shadow on focus */
  outline: none; /* Remove default outline */
}

/* Error message styling */
.error {
  color: red; /* Red color for error messages */
  font-size: 14px; /* Font size for error messages */
  margin-top: 5px; /* Space above error message */
}


/* Result Section */
/* CSS for Result component */
.result-container {
  width: 900px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 1rem;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.question-section {
  margin-top: 1.5rem;
}

h2 {
  font-size: 1.25rem;
  color: #444;
  margin-top: 1rem;
}

p {
  font-size: 1rem;
  color: #666;
}

.back-button {
  display: block;
  width: 20%;
  padding: 10px 0;
  margin-top: 2rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.back-button:hover {
  background-color: #0056b3;
}




 /* .exam-page {
  padding: 50px;
  background-color: #ff0000;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  width: 80%; 
  max-width: 800px;
  margin: 50px auto; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Inter', sans-serif;


}  */

/* .exam-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  background: #ccc;
  font-family: Arial, sans-serif;
  position: relative;
}  */
.exam-page {
  border: 2px solid; /* Add border style */
  border-radius: 10px; /* Rounded corners */
}

h1, h2, h3 {
  text-align: center; /* Center heading text */
}


.sidebar-notification {
  position: fixed;
  top: 20%; /* Vertical position from the top */
  right: -250px; 
  width: 250px;
  padding: 15px;
  background-color: lightcoral;
  color: white;
  transition: left 0.5s ease; /* Smooth slide animation */
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  z-index: 100;
  border-radius: 20px;
}

.sidebar-notification.visible {
  right: 0;
}







//=============sign out button=====//
.sign-out-button {
  background-color: #f44336; /* Red background */
  color: white; /* White text */
  border: none; /* Remove default border */
  border-radius: 5px; /* Rounded corners */
  padding: 10px 20px; /* Top and bottom padding, left and right padding */
  cursor: pointer; /* Change cursor on hover */
  font-size: 16px; /* Font size */
  transition: background-color 0.3s; /* Smooth transition for hover effect */
  margin-top: 20px; /* Space above the button */
}

.sign-out-button:hover {
  background-color: #c62828; /* Darker red on hover */
}

.sign-out-button:focus {
  outline: none; /* Remove focus outline */
}

.sign-out-button:active {
  transform: scale(0.98); /* Slightly shrink button when pressed */
}

.button-container {
  display: flex; /* Enable flexbox layout */
  justify-content: space-between; /* Distribute space between buttons */
  align-items: center; /* Center buttons vertically */
  margin-top: 20px; /* Add some space above the container */
}

.back-button {
  background-color: #2196F3; /* Example background color for the back button */
  color: white; /* White text */
  border: none; /* Remove default border */
  border-radius: 5px; /* Rounded corners */
  padding: 10px 20px; /* Padding */
  cursor: pointer; /* Change cursor on hover */
  font-size: 16px; /* Font size */
  transition: background-color 0.3s; /* Smooth transition */
}

.back-button:hover {
  background-color: #1976D2; /* Darker blue on hover */
}

.back-button:focus {
  outline: none; /* Remove focus outline */
}

.back-button:active {
  transform: scale(0.98); /* Slightly shrink button when pressed */
}


/* Navbar Styling */
/* .navbar {
  display: flex;
  justify-content: space-between;
  z-index: 1;
  align-items: center;
  background: linear-gradient(270deg, #051817, #0e3839);
  padding: 1rem 2rem; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  position: fixed; 
  width: 100%; 
  z-index: 1000; 
  top: 0;
 height: 40px 
}

.navbar a {
  color: white; 
  text-decoration: none; 
  margin: 0 1rem;
  font-size: 1rem; 
  transition: color 0.3s; 
}

.navbar a:hover {
  color: #e0e0e0; 
}


@media (max-width: 768px) {
  .navbar {
    flex-direction: column; 
    align-items: flex-start;
  }

  .navbar a {
    margin: 0.5rem 0; 
  }
}

.navbar-title {
  top: 0;
  font-size: 24px;
  margin-left: 24px;
  margin-top: 14px;
  color: white;
}
 */


/* Additional button styles to ensure consistency */
.button {
  background-color: #007bff; /* Primary button color */
  color: #ffffff; /* Button text color */
  border: none; /* No border */
  border-radius: 5px; /* Rounded corners */
  padding: 10px 20px; /* Padding */
  cursor: pointer; /* Pointer cursor */
  transition: background-color 0.3s, transform 0.2s; /* Hover and active effects */
}

.button:hover {
  background-color: #0056b3; /* Darker shade on hover */
  transform: scale(1.05); /* Slightly enlarge on hover */
}

.button:active {
  transform: scale(0.95); /* Slightly shrink when pressed */
}

/* Ensuring consistent styles for forms */
input, textarea {
  border: 1px solid #ccc; /* Standard border */
  border-radius: 5px; /* Rounded corners */
  padding: 10px; /* Padding inside input */
  width: calc(100% - 22px); /* Full width minus padding and border */
  margin-bottom: 20px; /* Space below input */
}

/* Specific styles for textareas */
textarea {
  height: 150px; /* Set a fixed height for text areas */
  resize: vertical; /* Allow vertical resizing */
}

/* Update styles for result section */
.result-container {
  background-color: #ffffff; /* White background for contrast */
  border-radius: 8px; /* Rounded corners */
  padding: 20px; /* Padding inside */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Subtle shadow */
}

/* Back button style for result page */
.back-button {
  background-color: #007bff; /* Consistent color */
  color: #fff; /* Text color */
  padding: 10px; /* Padding for the button */
  border: none; /* Remove default border */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor */
  transition: background-color 0.3s; /* Transition effect */
  margin-top: 20px; /* Spacing above the button */
}

.back-button:hover {
  background-color: #0056b3; /* Darken on hover */
}

/* Ensure responsiveness and proper styling */
.sidebar-notification {
  width: 250px; /* Fixed width */
  padding: 15px; /* Inner padding */
  background-color: #f44336; /* Alert color */
  color: white; /* Text color */
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5); /* Shadow effect */
  z-index: 100; /* On top of other elements */
}

/* Animation for the sidebar notification */
.sidebar-notification.visible {
  right: 0; /* Slide into view */
}

.sidebar-notification.hidden {
  right: -250px; /* Slide out of view */
}






//push notification
.push-notification {
  position: fixed;
  top: 20%;
  right: -300px; /* Start off-screen */
  padding: 15px;
  width: 250px;
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
  border-radius: 5px;
  transition: right 0.5s ease; /* Smooth sliding effect */
  z-index: 1000;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.push-notification.visible {
  right: 10px; /* Slide in from the right */
}


//navbar
.navbar {
  background-color: #f8f9fa; /* Adjust the background color as needed */
  padding: 10px 20px; /* Adjust padding for spacing */
}

.navbar-title {
  margin: 0; /* Remove default margin */
}

.btn-danger {
  margin-left: 80px; /* Add space between the timer and the button */
}

/* Centering the Navbar items */
.d-flex {
  display: flex; /* Make sure flex is applied */
}

.justify-content-between {
  justify-content: space-between; /* Space between items */
}

.align-items-center {
  align-items: center; /* Center items vertically */
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}
